$layersMap: (
	croud-layer-8: $croud-layer-8, 
	croud-layer-7: $croud-layer-7, 
	croud-layer-6: $croud-layer-6, 
	croud-layer-5: $croud-layer-5, 
	croud-layer-4: $croud-layer-4, 
	croud-layer-3: $croud-layer-3, 
	croud-layer-2: $croud-layer-2, 
	croud-layer-1: $croud-layer-1,
);
