
//headline
@croud-font-headline: 'Pathway Gothic One';

//body
@croud-font-body: 'Lato';

//sizes
@croud-font-size-x-large: 52px;
@croud-font-size-large: 48px;
@croud-font-size-medium: 32px;
@croud-font-size-small: 24px;
@croud-font-size-x-small: 16px;
@croud-font-size-tiny: 14px;
