
//easing curves
$croud-motion-ease-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$croud-motion-ease-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$croud-motion-ease-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
$croud-motion-ease-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);

//durations
$croud-motion-duration-slow: .2s;
$croud-motion-duration-normal: .175s;
$croud-motion-duration-fast: .15s;
