@import './../../fontImports';

//Headline Fonts:
$croud-font-headline: 'Pathway Gothic One';
$croud-font-headline-accent: 'Libre Baskerville';

//Body Fonts
$croud-font-body: 'Lato';

//Font-Sizes
$croud-font-size-heading: 17px;
